<div class="home-become-instructor">
  <div class="home-become-instructor__container container">
    <img
      class="home-become-instructor__image"
      src="./assets/images/home/instructor.png"
      alt="Become Instructor"
    />
    <div class="home-become-instructor__content">
      <h3 class="home-become-instructor__title">{{ 'home.instructor.title' | translate }}</h3>
      <article class="home-become-instructor__description">
        {{ 'home.instructor.description' | translate }}
      </article>
      <us-button class="home-become-instructor__action" [theme]="buttonTheme.primary">
        {{ 'home.instructor.start' | translate }}
      </us-button>
    </div>
  </div>
</div>
