$title-color: #13013f;
$main: #6b63dd;
$placeholder: #acb1c6;
$light-purple: #faf8ff;
$lightest-purple: #f5f4f8;
$border-purple: #ede5ff;
$light-blue: #55ACEE;
$medium-blue: #007AB9;
$red: #D22215;
$dark-blue: #3B5998;

$white: #ffffff;
$black: #000000;
$dark: #191928;

$dark-white: #F2F2F2;
$grey-text: #262626;
$light-grey: #d9d9d9;
$lighter-grey: #efefef;
$lightest-grey: #fefdfe;
$light-grey-text: #737373;

$black-opacity-20: #1e222533;
$black-opacity-40: #1e222566;

$icon-color: #7a819f;
$text-color: #252b42;
$free-text-color: #219653;

$linear-main: linear-gradient(171.9deg, #6b63dd -3.29%, #fc90b4 200.42%);

$error: #ea4643;
