@import 'src/assets/styles/variables/colors';

:host {
  width: 100%;
}

.select {
  width: 100%;
  position: relative;

  &__input {
    width: 100%;
    height: 47px;
    padding: 15px 42px 15px 20px;
    background: $white;
    border: 1px solid $border-purple;
    border-radius: 8px;
    outline-width: 0;
    cursor: pointer;

    &_searchable {
      cursor: text;
    }
  }

  &__icon {
    position: absolute;
    top: 50%;
    right: 14px;
    transform: translateY(-50%) rotate(0);
    opacity: .5;
    transition: .2s ease-in-out transform, .2s ease-in-out opacity;
    pointer-events: none;

    &_toggled {
      transform: translateY(-50%) rotate(180deg);
      opacity: 1;
    }
  }

  &__option {
    &-keeper {
      max-width: 470px;
      width: 100%;
      max-height: 582px;
      padding: 20px 7px;
      position: absolute;
      top: calc(100% + 4px);
      left: 0;
      z-index: 1;
      border: 1px solid $border-purple;
      background: $white;
      border-radius: 8px;
      overflow: auto;
    }
  }

  &_disabled {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.4;
  }

  &__error-block{
    margin: 5px 0;
    color: $error;
    font-size: 12px;
  }
}
