@import 'src/assets/styles/variables/colors';
.sections{
  background-color: $white;
  padding: 20px 18px;
  margin-top: 16px;
  &__title{
    color: $title-color;
    font-size: 24px;
    font-weight: 600;
  }
  &__count{
    color: $icon-color;
    font-weight: 400;
    font-size: 14px;
    &:first-child {
      &::after{
        content: "|";
        color: $icon-color;
        margin: 0 5px;
      }
    }
  }
  &__expended-title{
    color: $title-color;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
  }
  &__about-side{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0 20px 0;
  }
  &__expansion-panel{
    ::ng-deep{
      .mat-expansion-panel{
        background-color: #FCFAFF;
    .mat-expansion-panel-header{

      padding: 0;
      height: 58px;
      border-bottom: 1px solid #F5F5F5;
    .mat-expansion-panel-header-title{
      justify-content: space-between;
      margin: 0;
      padding: 0 24px 0 32px;
      .icon-and-title{
        display: flex;
        align-items: center;
      .icon{
        transition: all .5s;
        margin-right: 15px;
        transform: rotate(180deg);
        &.active{
          transform: rotate(0);
        }
      }
      .title{
      font-weight: 600;
      font-size: 16px;
      color: $title-color;
    }
    }
    .quiz-lesson-count{
      .count{
        color: $icon-color;
        font-weight: 500;
        font-size: 16px;
        &:first-child {
          &::after{
            content: "|";
            color: $icon-color;
            margin: 0 5px;
          }
        }
      }
    }
    }
    }
    .mat-expansion-indicator{
      display: none;
    }
    .mat-expansion-panel-body{
      padding: 24px 24px 34px 32px;
    }
    .panel-content-body{
      display: flex;
      flex-direction: column;
      .desc{
        display: flex;
        flex-direction: column;
        margin-bottom: 18px;
        .icon-title{
          display: flex;
          align-items: center;
          margin-bottom: 10px;
          justify-content: space-between;
          .left-side{
            display: flex;
            align-items: center;
          }
        .icon{
          margin-right: 10px;
          display: flex;
          align-items: center;
          .check-green-icon{
            margin-right: 15px;
          }
          .icon-action{
            cursor: pointer;
          }
          &.disable{
            pointer-events: none;
          }
        }
        .check-question{
          display: flex;
          align-items: center;
          margin-left: 10px;
          cursor: pointer;
          .question{
            font-weight: 400;
            font-size: 14px;
            margin-left: 10px;
            color: $icon-color;
          }

        }
        .title{
          color: $title-color;
          font-weight: 500;
          font-size: 14px;
          &.active{
            cursor: pointer;
          }
        }
          .count-side{
            width: 109px;
            height: 15px;
            margin-left: 20px;
            background: #A997FF;
            border-radius: 40px;
            text-align: center;
            color: white;
            font-size: 14px;
          }
          .cont{
            display: flex;
            align-items: center;
            &.active{
              cursor: pointer;
            }
          }
        }
        .icon-span{
          transition: all .5s;
          &.rotate{
            transform: rotate(180deg);
          }
        }
        .description{
          color: $light-grey-text;
          font-size: 14px;
          font-weight: 400;
          padding-left: 30px;
          display: none;
          &.show{
            display: block !important;
          }

        }
      }
      .prev-side{
        .prev{
          color: $main;
          cursor: pointer;
        }
      }
    }
  }
  }
  }
}
