@import 'src/assets/styles/variables/colors';

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70vh;

  .not-found {
    width: 350px;

    &__oops {
      font-size: 40px;
      font-weight: 700;
      line-height: 49px;
    }

    &__page-not-found {
      font-size: 32px;
      font-weight: 400;
      line-height: 39px;
      margin: 17px 0;
    }

    &__text {
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0.04em;
      word-wrap: break-word;
    }

    &__button-back {
      &::ng-deep {
        .button {
          margin-top: 50px;
          font-size: 16px;
        }
      }
    }
  }
}
