@import 'src/assets/styles/variables/colors';

.privacy {
  background-color: #f5f5f5;

  &__header {
    height: 290px;
    background-color: #262626;
    padding: 110px;

    &__title {
      font-size: 36px;
      font-weight: 700;
      line-height: 67px;
      color: $white;
    }
    &__subtitle {
      font-size: 16px;
      font-weight: 500;
      line-height: 23px;
      color: $white;
      margin-top: 9px;
    }
  }

  &__body {
    padding: 0 110px 100px 110px;
    margin-top: 25px;
    font-weight: 400;
    line-height: 22.5px;

    &__text {
      font-size: 14px;
      color: $grey-text;
    }
    &__list {
      list-style: circle;
      list-style-type: disc;

      &_item {
        font-family: Open Sans;
        font-size: 14px;
        margin: 10px;
        color: $grey-text;
      }
    }
  }
}
