<div class="privacy">
  <div class="privacy__header">
    <h1 class="privacy__header__title">{{ 'privacy-policy.title' | translate }}</h1>
    <p class="privacy__header__subtitle">{{ 'privacy-policy.subtitle' | translate }}</p>
  </div>
  <div class="privacy__body">
    <p class="privacy__body__text">
      Thank you for joining Udemy. We at Udemy (“Udemy”, “we”, “us”) respect your privacy and want
      you to understand how we collect, use, and share data about you. This Privacy Policy covers
      our data collection practices and describes your rights regarding your personal data.
      <br />
      Unless we link to a different policy or state otherwise, this Privacy Policy applies when you
      visit or use the Udemy and CorpU websites, mobile applications, APIs, or related services (the
      “Services”). It also applies to prospective customers of our business and enterprise products.
      <br />
      By using the Services, you agree to the terms of this Privacy Policy. You shouldn’t use the
      Services if you don’t agree with this Privacy Policy or any other agreement that governs your
      use of the Services.
    </p>
    <p class="privacy__body__text mt-1">Table of Contents</p>
    <ul class="privacy__body__list">
      <li class="privacy__body__list_item">1. What Data We Get</li>
      <li class="privacy__body__list_item">2. How We Get Data About You</li>
      <li class="privacy__body__list_item">3. What We Use Your Data For</li>
      <li class="privacy__body__list_item">4. Who We Share Your Data With</li>
      <li class="privacy__body__list_item">5. Security</li>
      <li class="privacy__body__list_item">6. Your Rights</li>
      <li class="privacy__body__list_item">7. Jurisdiction-Specific Rules</li>
      <li class="privacy__body__list_item">8. Updates & Contact Info</li>
    </ul>
    <p class="privacy__body__text">
      We may obtain certain information through your social media or other online accounts if they
      are connected to your Udemy account. If you log in to Udemy via Facebook or another
      third-party platform or service, we ask for your permission to access certain information
      about that other account. For example, depending on the platform or service we may collect
      your name, profile picture, account ID number, login email address, location, physical
      location of your access devices, gender, birthday, and list of friends or contacts.
      <br />
      Those platforms and services make information available to us through their APIs. The
      information we receive depends on what information you (via your privacy settings) or the
      platform or service decide to give us.
      <br />
      If you access or use our Services through a third-party platform or service, or click on any
      third-party links, the collection, use, and sharing of your data will also be subject to the
      privacy policies and other agreements of that third party. We may obtain certain information
      through your social media or other online accounts if they are connected to your Udemy
      account. If you log in to Udemy via Facebook or another third-party platform or service, we
      ask for your permission to access certain information about that other account. For example,
      depending on the platform or service we may collect your name, profile picture, account ID
      number, login email address, location, physical location of your access devices, gender,
      birthday, and list of friends or contacts.
      <br />
      Those platforms and services make information available to us through their APIs. The
      information we receive depends on what information you (via your privacy settings) or the
      platform or service decide to give us. If you access or use our Services through a third-party
      platform or service, or click on any third-party links, the collection, use, and sharing of
      your data will also be subject to the privacy policies and other agreements of that third
      party.
    </p>
  </div>
</div>

<us-scroll-top></us-scroll-top>
