<div class="header-action">
  <ng-container *ngIf="loggedIn; else unauthorizedAction">
    <div class="header-action__authorized">
      <div *ngIf="!dashboard" class="card-count-body">
        <us-icon name="heart" (click)="goFavorites()"></us-icon>
        <span class="header-action__card-count" *ngIf="userInfo && coursesInWishList > 0">
          {{ coursesInWishList }}
        </span>
      </div>
      <div *ngIf="!dashboard" class="card-count-body">
        <us-icon name="cart" (click)="goBasket()"></us-icon>
        <span class="header-action__card-count" *ngIf="userInfo && coursesInBasket > 0">
          {{ coursesInBasket }}
        </span>
      </div>
      <div
        [class.notification-wrapp]="isHover"
        (click)="showNotificationList()"
        usClickOutside
        (clickOutside)="hideNotificationList()"
      >
        <us-icon [name]="!hasNewNotification ? 'bell' : 'notification-bell'"> </us-icon>
        <div class="notification-block" *ngIf="isHover">
          <us-header-notification
            (unreadCountEmmit)="changeUnreadCount($event)"
            [unreadCountNoti]="unreadCount"
            (hideNotificationsList)="hideNotificationList()"
          ></us-header-notification>
        </div>
      </div>
    </div>
  </ng-container>
  <us-header-language *ngIf="!dashboard"></us-header-language>
  <ng-container *ngIf="!dashboard && loggedIn">
    <div
      *ngIf="!nameFirstLetters"
      class="user_avatar"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasExample"
      aria-controls="offcanvasExample"
      #sideMenuToggler
    >
      <img class="profile-icon__avatar" [src]="userInfo?.avatar" alt="Avatar" />
      <span class="mat-select-arrow"></span>
    </div>
    <div
      *ngIf="nameFirstLetters"
      class="profile-icon"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasExample"
      aria-controls="offcanvasExample"
      #sideMenuToggler
    >
      <span class="profile-icon__text letter"
        >{{ nameFirstLetters }} <span class="mat-select-arrow"></span>
      </span>
    </div>
  </ng-container>
</div>

<div
  class="offcanvas offcanvas-end"
  tabindex="-1"
  id="offcanvasExample"
  aria-labelledby="offcanvasExampleLabel"
  *ngIf="loggedIn && !dashboard"
>
  <div>
    <div class="d-flex user__header">
      <div
        *ngIf="!nameFirstLetters"
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasExample"
        aria-controls="offcanvasExample"
      >
        <img class="profile-icon__avatar" [src]="userInfo?.avatar" alt="Avatar" />
      </div>
      <div
        *ngIf="nameFirstLetters"
        class="profile-icon__sidebar"
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasExample"
        aria-controls="offcanvasExample"
      >
        <span class="profile-icon__text">{{ nameFirstLetters }}</span>
      </div>
      <div class="d-flex ms-3 flex-column">
        <p class="user__name">{{ userInfo?.first_name }}</p>
        <p class="user__email mt-1">{{ userInfo?.email }}</p>
      </div>
    </div>
    <div class="offcanvas-body">
      <p
        class="user__menu-item"
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasExample"
        [routerLink]="'/dashboard'"
      >
        {{ 'global.header.action-panel.dashboard' | translate }}
      </p>

      <div
        class="d-flex justify-content-between"
        routerLink="/my-learning"
        (click)="sideMenuToggler.nativeElement.click()"
      >
        <p class="user__menu-item">
          {{ 'global.header.my-learning.title' | translate }}
        </p>
        <!-- <p class="user__item-count mt-3">{{ unreadCount }}</p> -->
      </div>
      <div
        class="d-flex justify-content-between"
        routerLink="/notifications"
        (click)="sideMenuToggler.nativeElement.click()"
      >
        <p class="user__menu-item">
          {{ 'global.header.header-notification.notifications' | translate }}
        </p>
        <p class="user__item-count mt-3">{{ unreadCount }}</p>
      </div>

      <div
        class="d-flex justify-content-between"
        routerLink="/basket"
        (click)="sideMenuToggler.nativeElement.click()"
      >
        <p class="user__menu-item">
          {{ 'global.header.my-cart' | translate }}
        </p>
        <p class="user__item-count mt-3">{{ coursesInBasket }}</p>
      </div>
      <div
        class="d-flex justify-content-between"
        routerLink="/favorites"
        (click)="sideMenuToggler.nativeElement.click()"
      >
        <p class="user__menu-item">
          {{ 'global.header.favorites' | translate }}
        </p>
        <p class="user__item-count mt-3">{{ coursesInWishList }}</p>
      </div>
      <p
        class="user__menu-item"
        routerLink="/settings"
        (click)="sideMenuToggler.nativeElement.click()"
      >
        {{ 'global.header.edit-profile' | translate }}
      </p>
      <p
        class="user__menu-item"
        [routerLink]="'/profile/' + userInfo?.id"
        (click)="sideMenuToggler.nativeElement.click()"
      >
        {{ 'global.header.public-profile' | translate }}
      </p>
      <hr class="user__divider" />

      <p class="user__menu-item" (click)="logOut()">
        {{ 'global.header.action-panel.log out' | translate }}
      </p>
    </div>
  </div>
</div>

<ng-template #unauthorizedAction>
  <div class="header-action__unauthorized">
    <!-- <us-icon [name]="isMobile ? 'cart' : 'cart_white'" (click)="goBasket()"></us-icon> -->
    <us-button [theme]="buttonTheme.light" (click)="goLogin()">
      {{ 'global.header.log-in' | translate }}
    </us-button>
    <us-button [theme]="buttonTheme.light" (click)="goSignup()">
      {{ 'global.header.sign-up' | translate }}
    </us-button>
  </div>
</ng-template>
