<div class="title" (click)="expandCollapse()">
  <label class="label">{{ 'home.courses.price' | translate }}</label>
  <us-icon name="chevron-down_dark" [size]="13" *ngIf="isExpanded; else titleExpanded"></us-icon>
  <ng-template #titleExpanded>
    <us-icon name="chevron-up_dark" [size]="13"></us-icon>
  </ng-template>
</div>
<div class="slider" [hidden]="isExpanded">
  <div class="slider__form-row">
    <us-checkbox
      [(ngModel)]="isFree"
      (ngModelChange)="paidStateChange('free', $event)"
      [label]="'home.courses.free' | translate"
    ></us-checkbox>
    <us-checkbox
      [(ngModel)]="isPaid"
      (ngModelChange)="paidStateChange('paid', $event)"
      [label]="'home.courses.paid' | translate"
    ></us-checkbox>
  </div>
  <ngx-slider
    *ngIf="isPaid"
    [(value)]="minValue"
    [(highValue)]="maxValue"
    [options]="options"
    (userChangeEnd)="onUserChangeEnd($event)"
  ></ngx-slider>
</div>
