<div class="home-courses">
  <div class="home-courses__container container">
    <h3 class="home-courses__title">{{ 'learnings.title' | translate }}</h3>
    <h1 *ngIf="showEmptyMessage" class="no-data">{{ 'learnings.no_data' | translate }}</h1>
    <div *ngIf="showLoader" class="loader">
      <ngx-skeleton-loader
        count="5"
        [theme]="{ height: '40px', 'background-color': '#faf8ff' }"
        appearance="line"
      ></ngx-skeleton-loader>
    </div>
    <ng-container *ngIf="courses">
      <div class="home-courses__list">
        <div class="row" *ngFor="let course of courses">
          <us-course
            [hideBasketAndWishList]="true"
            [expired]="course.expired"
            [courseData]="course.course"
          ></us-course>
        </div>
      </div>
    </ng-container>
  </div>
</div>

<us-scroll-top></us-scroll-top>
