<us-accordion [collapsing]="false" [autoOpen]="collapsed">
  <div class="course-quiz__header" usAccordionItem [formGroup]="quizForm">
    <ng-template usAccordionHeader let-item let-toggle="toggle" let-expanded="expanded">
      <div class="course-quiz__header">
        <p class="course-quiz__header-title">
          {{
            quizForm.value.title
              ? quizForm.value.title
              : ('dashboard.courses.quiz' | translate) + ' ' + (index + 1)
          }}
        </p>
        <div class="course-quiz__action">
          <div class="course-quiz__action-list">
            <us-icon
              class="course-quiz__action-icon"
              (click)="!expanded && toggle(); quizForm.get('isEdit')?.setValue(true)"
              name="edit"
              [size]="24"
            ></us-icon>
            <us-icon
              class="course-quiz__action-icon"
              (click)="deleteQuiz(quizForm.get('id')?.value)"
              name="delete"
              [size]="24"
            ></us-icon>
          </div>
          <button
            (click)="toggle()"
            class="course-quiz__toggle accordion__toggle-btn"
            [class.course-quiz__toggle_rotated]="expanded"
            [disabled]="item.disabled"
          >
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
              <path fill="none" d="M0 0h24v24H0z" />
              <path d="M12 13.172l4.95-4.95 1.414 1.414L12 16 5.636 9.636 7.05 8.222z" />
            </svg>
          </button>
        </div>
      </div>
    </ng-template>
    <ng-template usAccordionContent>
      <div class="course-quiz">
        <ng-container *ngIf="quizForm.get('isEdit')?.value">
          <us-input
            class="course-quiz__quiz-title-field"
            label="Quiz Title"
            formControlName="title"
            placeholder="Quiz Title"
          >
          </us-input>
          <div class="course-quiz__quiz-action">
            <us-button (clicked)="cancelRename()" [theme]="buttonTheme.primary" [outline]="true">
              Cancel
            </us-button>
            <us-button
              (clicked)="updateQuiz()"
              [disabled]="
                !!quizForm.get('title') &&
                (!quizForm.get('title')?.dirty || !!quizForm.get('title')?.invalid)
              "
              [theme]="buttonTheme.primary"
            >
              Save
            </us-button>
          </div>
        </ng-container>
        <div
          class="course-quiz__form-keeper"
          *ngFor="let questionControl of questionFormArray?.controls"
        >
          <div class="course-quiz__form">
            <us-editor
              [label]="'dashboard.courses.add-question' | translate"
              [placeholder]="'dashboard.courses.insert-question' | translate"
              [formControl]="getQuestionControl(questionControl)"
            ></us-editor>
            <div class="course-quiz__answer-list">
              <div class="course-quiz__answer-title-keeper">
                <h4 class="course-quiz__answer-title">
                  {{ 'dashboard.courses.add-answers' | translate }}
                </h4>
                <div class="course-quiz__answer-multiple">
                  <us-checkbox
                    (checked)="multipleChecked($event, questionControl)"
                    [formControl]="getMultipleControl(questionControl)"
                  ></us-checkbox>
                  <span>{{ 'dashboard.courses.multiple-choice' | translate }}</span>
                </div>
              </div>
              <h5 class="course-quiz__answer-subtitle">
                {{ 'dashboard.courses.correct-answer' | translate }}
              </h5>
              <div
                class="course-quiz__answer"
                *ngFor="
                  let group of getQuestionAnswerListForm(questionControl).controls;
                  let i = index
                "
                [formGroup]="getFromGroupFromAbstractControl(group)"
              >
                <us-checkbox
                  formControlName="correct"
                  (checked)="handleCorrectChecked($event, questionControl, i)"
                ></us-checkbox>
                <us-input
                  formControlName="text"
                  [placeholder]="'dashboard.courses.answer' | translate"
                ></us-input>
                <us-icon
                  *ngIf="getQuestionAnswerListForm(questionControl).controls.length > 1"
                  class="course-quiz__answer-remove"
                  name="delete"
                  [size]="18"
                  (click)="removeFromAnswerList(questionControl, i)"
                ></us-icon>
              </div>
              <us-button
                [theme]="buttonTheme.transparent"
                (clicked)="addAnswerForm(questionControl)"
                class="course-quiz__answer-add"
              >
                <us-icon name="add_primary"></us-icon>
                {{ 'dashboard.courses.add-answer' | translate }}
              </us-button>
            </div>
            <div class="course-quiz__question-action-keeper">
              <us-button
                [theme]="buttonTheme.primary"
                class="course-quiz__question-action"
                [disabled]="buttonDisabled(questionControl)"
                (clicked)="saveQuestion(questionControl)"
              >
                {{ 'dashboard.courses.save-question' | translate }}
              </us-button>
            </div>
          </div>
        </div>
        <us-button
          [theme]="buttonTheme.primary"
          icon="add"
          [iconSize]="18"
          autoSetSuffix="primary"
          class="course-quiz__add-description"
          (clicked)="addQuestionField()"
        >
          <span>{{ 'dashboard.courses.add-question' | translate }}</span>
        </us-button>
      </div>
    </ng-template>
  </div>
</us-accordion>
