<us-accordion [collapsing]="false" [autoOpen]="collapsed">
  <div class="course-quiz__header" usAccordionItem [formGroup]="quizForm">
    <ng-template usAccordionHeader let-item let-toggle="toggle" let-expanded="expanded">
      <div class="course-quiz__header">
        <p class="course-quiz__header-title">
          {{
            quizForm.value.title
              ? quizForm.value.title
              : ('dashboard.courses.quiz' | translate) + ' ' + (index + 1)
          }}
        </p>
        <div class="course-quiz__action">
          <div class="course-quiz__action-list">
            <us-icon
              class="course-quiz__action-icon"
              (click)="!expanded && toggle(); quizForm.get('isEdit')?.setValue(true)"
              name="edit"
              [size]="24"
            ></us-icon>
            <us-icon
              class="course-quiz__action-icon"
              (click)="deleteQuiz(quizForm.get('id')?.value)"
              name="delete"
              [size]="24"
            ></us-icon>
          </div>
          <button
            (click)="toggle()"
            class="course-quiz__toggle accordion__toggle-btn"
            [class.course-quiz__toggle_rotated]="expanded"
            [disabled]="item.disabled"
          >
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
              <path fill="none" d="M0 0h24v24H0z" />
              <path d="M12 13.172l4.95-4.95 1.414 1.414L12 16 5.636 9.636 7.05 8.222z" />
            </svg>
          </button>
        </div>
      </div>
    </ng-template>
    <ng-template usAccordionContent>
      <div class="course-quiz">
        <ng-container *ngIf="quizForm.get('isEdit')?.value">
          <us-input
            class="course-quiz__quiz-title-field"
            label="Quiz Title"
            formControlName="title"
            placeholder="Quiz Title"
          >
          </us-input>
          <div class="course-quiz__quiz-action">
            <us-button (clicked)="cancelRename()" [theme]="buttonTheme.primary" [outline]="true">
              Cancel
            </us-button>
            <us-button
              (clicked)="updateQuiz()"
              [disabled]="
                !!quizForm.get('title') &&
                (!quizForm.get('title')?.dirty || !!quizForm.get('title')?.invalid)
              "
              [theme]="buttonTheme.primary"
            >
              Save
            </us-button>
          </div>
        </ng-container>
        <div
          class="course-quiz__form-keeper"
          *ngFor="let questionControl of questionFormArray?.controls; let questionIndex = index"
        >
          <us-dashboard-course-question
            [collapsed]="questionControl.value.isOpen"
            [questionForm]="getFromGroupFromAbstractControl(questionControl)"
            [index]="questionIndex"
            (save)="saveQuestion(questionControl)"
          ></us-dashboard-course-question>
        </div>
        <us-button
          [theme]="buttonTheme.primary"
          icon="add"
          [iconSize]="18"
          autoSetSuffix="primary"
          class="course-quiz__add-description"
          (clicked)="addQuestionField()"
        >
          <span>{{ 'dashboard.courses.add-question' | translate }}</span>
        </us-button>
      </div>
    </ng-template>
  </div>
</us-accordion>
