@import '../auth.component';
.container {
  .form_content {
    height: 485px;
    form {
      .form-control {
        height: 58px;
        border-radius: 10px;
        background: $light-purple;
        border-color: transparent;
      }
      .form-text {
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        color: $light-grey-text;
        text-align: start;
        margin-top: 10px;
        a {
          color: $main;
          cursor: pointer;
        }
      }
    }
    @include for-breakpoint(mobile-lg) {
      .title {
        padding: 0;
      }
    }
  }
}
