<div class="partners container">
  <p class="partners__title">{{ 'home.partners.title' | translate }}</p>
  <div class="partners__logos">
    <img src="assets/images/partners/ueict.png" alt="Partners Logo" class="partners__logos-item" />
    <img
      src="assets/images/partners/reconomy.png"
      alt="Partners Logo"
      class="partners__logos-item"
    />
    <img src="assets/images/partners/sweden.png" alt="Partners Logo" class="partners__logos-item" />
    <img
      src="assets/images/partners/helvetas.png"
      alt="Partners Logo"
      class="partners__logos-item"
    />
  </div>
</div>
