<div class="home-top-categories">
  <div class="home-top-categories__container container">
    <h3 class="home-top-categories__title">{{ 'home.top-categories.title' | translate }}</h3>
    <div class="home-top-categories__list">
      <div class="home-top-categories__element">
        <img
          class="home-top-categories__illustration"
          src="./assets/images/home/categories/category1.png"
          alt="Category 1"
        />
        <h4 class="home-top-categories__name">
          {{ categories[0]?.title }}
        </h4>
      </div>
      <div class="home-top-categories__element">
        <img
          class="home-top-categories__illustration"
          src="./assets/images/home/categories/category2.png"
          alt="Category 2"
        />
        <h4 class="home-top-categories__name">
          {{ categories[1]?.title }}
        </h4>
      </div>
      <div class="home-top-categories__element">
        <img
          class="home-top-categories__illustration"
          src="./assets/images/home/categories/category3.png"
          alt="Category 3"
        />
        <h4 class="home-top-categories__name">
          {{ categories[2]?.title }}
        </h4>
      </div>
      <div class="home-top-categories__element">
        <img
          class="home-top-categories__illustration"
          src="./assets/images/home/categories/category1.png"
          alt="Category 1"
        />
        <h4 class="home-top-categories__name">
          {{ categories[3]?.title }}
        </h4>
      </div>
      <div class="home-top-categories__element">
        <img
          class="home-top-categories__illustration"
          src="./assets/images/home/categories/category2.png"
          alt="Category 2"
        />
        <h4 class="home-top-categories__name">
          {{ categories[4]?.title }}
        </h4>
      </div>
      <div class="home-top-categories__element">
        <img
          class="home-top-categories__illustration"
          src="./assets/images/home/categories/category3.png"
          alt="Category 3"
        />
        <h4 class="home-top-categories__name">
          {{ categories[5]?.title }}
        </h4>
      </div>
      <div class="home-top-categories__element">
        <img
          class="home-top-categories__illustration"
          src="./assets/images/home/categories/category1.png"
          alt="Category 1"
        />
        <h4 class="home-top-categories__name">
          {{ categories[6]?.title }}
        </h4>
      </div>
      <div class="home-top-categories__element">
        <img
          class="home-top-categories__illustration"
          src="./assets/images/home/categories/category2.png"
          alt="Category 2"
        />
        <h4 class="home-top-categories__name">
          {{ categories[7]?.title }}
        </h4>
      </div>
    </div>
  </div>
</div>
