<div class="wrapper">
  <div class="container">
    <div class="about-us__section-1 d-flex justify-content-between">
      <div class="about-us__about-section align-self-center">
        <h2 class="about-us__title mb-2">{{ 'about-us.title' | translate }}</h2>
        <p class="about-us__text">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
          been the industry's standard dummy text ever since the 1500s, when an unknown printer took
          a galley of type and scrambled it to make a type specimen book. It has survived not only
          five centuries, but also the leap into electronic typesetting, remaining essentially
          unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
          Lorem Ipsum passages, and more recently with desktop publishing software like Aldus
          PageMaker including versions of Lorem Ipsum.
        </p>
      </div>
      <div class="mb-5">
        <img src="assets/images/about-us/about.png" alt="About us Image" class="about-us__image" />
      </div>
    </div>
  </div>
  <div class="about-us__section-3">
    <div class="about-us__section-2 d-flex">
      <iframe
        class="about-us__video"
        width="1180"
        height="664"
        src="https://www.youtube.com/embed/KcQoJS9R6Lk"
        [height]="360"
        [width]="650"
        frameborder="0"
        allowfullscreen
      ></iframe>
      <div class="about-us__about-section ms-5">
        <h2 class="about-us__title mb-2">{{ 'contact-us.improving-lives' | translate }}</h2>
        <p class="about-us__text">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
          been the industry's standard dummy text ever since the 1500s, when an unknown printer took
          a galley of type and scrambled it to make a type specimen book. It has survived not only
          five centuries, but also the leap into electronic typesetting, remaining essentially
          unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
          Lorem Ipsum passages, and more recently with desktop publishing software like Aldus
          PageMaker including versions of Lorem Ipsum.
        </p>
      </div>
    </div>
    <div class="about-us__main-section-3">
      <div class="about-us__section-3__title-block">
        <p class="about-us__section-3__title-block_small-title">
          {{ 'about-us.become' | translate }}
        </p>
        <h2 class="about-us__section-3__title-block_big-title">
          {{ 'contact-us.improving-lives' | translate }}
        </h2>
      </div>
      <div class="about-us__section-3__text-block-wrapper mt-5">
        <div class="about-us__section-3__text-block">
          <img src="assets/images/icons/quote.svg" alt="Quote" class="mb-2" />
          <p class="about-us__section-3__text-block_item">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
            has been the industry's standard dummy text ever since the 1500s, when an unknown
            printer took a galley of type and scrambled it
          </p>
        </div>
        <div class="divider"></div>
        <div class="about-us__section-3__text-block">
          <img src="assets/images/icons/quote.svg" alt="Quote" class="mb-2" />
          <p class="about-us__section-3__text-block_item">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
            has been the industry's standard dummy text ever since the 1500s, when an unknown
            printer took a galley of type and scrambled it
          </p>
        </div>
        <div class="divider"></div>
        <div class="about-us__section-3__text-block">
          <img src="assets/images/icons/quote.svg" alt="Quote" class="mb-2" />
          <p class="about-us__section-3__text-block_item">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
            has been the industry's standard dummy text ever since the 1500s, when an unknown
            printer took a galley of type and scrambled it
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="about-us__section-4">
    <div class="about-us__section-4__title-block">
      <h2 class="about-us__section-4__title-block_title">
        {{ 'about-us.keep-growing' | translate }}
      </h2>
      <p class="about-us__section-4__title-block_subtitle">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
        been the industry's standard dummy text
      </p>
    </div>
    <div class="about-us__section-4__info-block">
      <div class="about-us__section-4__info-item">
        <p class="about-us__section-4__info-item_number">54M+</p>
        <p class="about-us__section-4__info-item_text">Lorem ipsum</p>
      </div>
      <div class="about-us__section-4__info-item">
        <p class="about-us__section-4__info-item_number">74K+</p>
        <p class="about-us__section-4__info-item_text">Lorem ipsum</p>
      </div>
      <div class="about-us__section-4__info-item">
        <p class="about-us__section-4__info-item_number">11M+</p>
        <p class="about-us__section-4__info-item_text">Lorem ipsum</p>
      </div>
      <div class="about-us__section-4__info-item">
        <p class="about-us__section-4__info-item_number">54M+</p>
        <p class="about-us__section-4__info-item_text">Lorem ipsum</p>
      </div>
      <div class="about-us__section-4__info-item">
        <p class="about-us__section-4__info-item_number">12,500+</p>
        <p class="about-us__section-4__info-item_text">Lorem ipsum</p>
      </div>
      <div class="about-us__section-4__info-item">
        <p class="about-us__section-4__info-item_number">12,500+</p>
        <p class="about-us__section-4__info-item_text">Lorem ipsum</p>
      </div>
    </div>
  </div>
</div>
