@import 'src/assets/styles/variables/colors';

.course-category {
  padding: 24px 89px 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__keeper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  &__title {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.05em;
    text-transform: capitalize;
    color: $dark;
  }

  &__subtitle {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.05em;
    color: $light-grey-text;
    margin-bottom: 23px;
  }

  &__select {
    max-width: 470px;
    width: 100%;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    row-gap: 14px;
    column-gap: 16px;
    margin-top: 30px;
    flex-grow: 1;
  }

  &__element {
    padding: 23px 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    border: 1px solid $border-purple;
    border-radius: 22px;
    text-align: center;
    cursor: pointer;
    transition: box-shadow 0.2s ease-in-out, border 0.2s ease-in-out, padding 0.2s ease-in-out;

    &:hover {
      box-shadow: 2px 4px 20px 0 rgb(30 34 37 / 20%);
    }

    &:active {
      box-shadow: none;
    }

    &_active {
      padding: 21px 43px;
      border: 3px solid #6b63dd;
    }
  }

  &__action {
    display: block;

    &::ng-deep {
      button {
        padding: 10px 17.5px;
        min-width: 129px;
        font-weight: 600;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        border-width: 1px;
      }
    }

    &-keeper {
      display: flex;
      justify-content: flex-end;
      position: absolute;
      gap: 8px;
      bottom: 24px;
      right: 40px;
    }
  }

  &__error {
    margin: 5px 0;
    color: $error;
    font-size: 12px;
    text-align: left;
    max-width: 470px;
    width: 100%;
  }
}
