@import '../../../../assets/styles/variables/colors';
@import '../../../../assets/styles/mixins/for-breakpoint';

:host::ng-deep .container,
::ng-deep us-social-registration-modal {
  height: calc(100vh - 75.99px);
  background-image: url('../../../../assets/images/auth/auth-background.png');
  background-position: left;
  background-repeat: no-repeat;
  background-size: auto;
  .left_content {
    background-image: url('../../../../assets/images/auth/login_bg.png');
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    width: 402px;
    height: 485px;
    .title {
      font-style: normal;
      font-weight: 500;
      font-size: 36px;
      line-height: 77px;
      color: $grey-text;
      .bold {
        font-weight: 600;
      }
    }
    .subtitle {
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 140%;
      color: $grey-text;
      .purple {
        color: $main;
        cursor: pointer;
      }
    }
  }
  .subtitle_mobile {
    font-size: 14px;
    padding: 0 60px;
    text-align: center;
    margin-top: 168px;
    .purple {
      color: $main;
      cursor: pointer;
    }
  }
  .form_content {
    .title {
      font-weight: 600;
      font-size: 24px;
      line-height: 77px;
      color: $title-color;
    }
    form {
      margin-top: 30px;
      .form-control {
        height: 58px;
        border-radius: 10px;
        background: $light-purple;
        border: transparent;
        &.error {
          border: 1px solid #ea4643 !important;
        }
      }

      .form-control {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: $light-grey-text;
      }
      .form-control:focus {
        border: transparent;
        box-shadow: none;
        &.error {
          border: 1px solid #ea4643;
        }
      }
      .form-text {
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        color: $light-grey-text;
        text-align: end;
        margin-top: 10px;
        cursor: pointer;
      }
      us-button ::ng-deep.button_primary {
        background: $main;
        border-radius: 50px;
        width: 100%;
        height: 50px;
        border: none;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.09em;
        color: $white;
        margin-top: 72px;
      }
      .disabled ::ng-deep.button_primary {
        background: #d2cfff;
      }
      .errors_text {
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        color: #ea4643;
        padding: 5px 10px 0;
      }
    }
    .close_eye {
      position: absolute;
      top: 30%;
      right: 5%;
      z-index: 8;
    }
    .line {
      width: 100%;
      text-align: center;
      border-bottom: 1px solid #dfdfdf;
      line-height: 0.1em;
      margin: 53px 0 41px;

      span {
        background: $white;
        padding: 0 10px;
        font-size: 14px;
        color: $light-grey-text;
      }
    }
    @include for-breakpoint(mobile-lg) {
      .title,
      .tabs_style {
        padding: 0 20px;
      }
    }
  }
  .toast-container {
    top: 12%;
    left: 38%;
    #liveToast {
      border: 2px solid #ef4836;
      border-radius: 8px;
    }
    .toastHeader {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 8px;
      .danger_text {
        color: #ef4836;
      }
    }
  }
}
