@import 'src/assets/styles/variables/colors';
.preview_class {
  font-weight: 500;
  font-size: 12px;
  color: $icon-color;
  line-height: 20px;
}
.preview_title {
  font-weight: 600;
  font-size: 16px;
  color: #13013f;
}
.preview_article {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #000000;
}
.preview_video {
  width: 100%;
  height: 380px;
}
.course_preview {
  display: flex;
  justify-content: center;
  .mat-dialog-content {
    width: 100%;
    padding: 0;
  }
  .modal_header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    p {
      font-weight: 700;
      font-size: 18px;
      line-height: 125%;
      color: #13013f;
    }
    &.title_position {
      justify-content: space-between;
    }
  }
  .quiz_content {
    .quiz_title {
      font-weight: 700;
      font-size: 18px;
      color: #13013f;
      line-height: 50px;
    }
    .quiz_subtitle {
      font-weight: 400;
      font-size: 14px;
      color: #000000;
    }
    .good {
      font-weight: 500;
      font-size: 14px;
      color: #6b63dd;
      line-height: 30px;
    }
    .button_content {
      background: $light-purple;
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: flex-end;
      margin-top: 50px;
      padding: 0 24px;
      &::ng-deep .button {
        min-width: 110px;
        font-size: 12px;
        line-height: 17px;
        padding: 10px 20.5px;
        text-transform: uppercase;
      }
      .mat-dialog-actions {
        margin-bottom: 0;
      }
    }
    .check_forms {
      .form-check {
        display: flex;
        align-items: center;
        line-height: 30px;
        .form-check-label {
          margin-left: 10px;
        }
        .form-check-input {
          margin-top: 0;
          background: $white;
        }
        .form-check-input:checked {
          background-image: url('../../../../../../../../assets/images/icons/purple_check.svg');
          background-repeat: no-repeat;
          background-position: center;
          border-color: #6b63dd;
        }
      }
    }
    .step_2_subtitle {
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
      color: #000000;
    }
  }
}
::ng-deep .mat-dialog-container {
  background: $white;
  padding: 0;
}
