<label class="input__label">
  <span *ngIf="label" class="input__label-text">
    {{ label }}
  </span>
  <div class="input" [class.input__read-only]="readonly" [class.input_error]="hasErrors">
    <us-icon
      class="input__icon_block"
      *ngIf="iconName"
      [name]="iconName"
      [size]="iconSize"
    ></us-icon>
    <input
      class="input__area"
      [class.input__area_icon]="!!iconName"
      [class.input__area_error]="hasErrors"
      [type]="type"
      [readonly]="readonly"
      [placeholder]="placeholder + (requiredPlaceholder ? ' *' : '')"
      [value]="value"
      [min]="min"
      [autocomplete]="autocomplete"
      (input)="valueChange($event)"
      (focusin)="focusIn.emit($event)"
      (focusout)="focusOut.emit($event); onTouched()"
    />
    <us-icon
      *ngIf="toggleIcon"
      [class.hide]="!readonly"
      class="input__icon toggle"
      (click)="clickIcon()"
      [size]="19"
      [name]="toggleIcon"
    ></us-icon>
    <us-icon
      *ngIf="activeIcon"
      class="input__icon active"
      (click)="showInputText()"
      [size]="19"
      [name]="activeIcon"
    ></us-icon>
  </div>
  <div *ngIf="errors && hasErrors" class="input__error-block">
    <span *ngFor="let error of errors | keyvalue">
      <ng-container [ngSwitch]="error.key">
        <ng-container *ngSwitchCase="'custom'">
          {{ error.value }}
        </ng-container>
        <ng-container *ngSwitchCase="'youtube'">
          {{ 'global.input.wrong_youtube_url' | translate }}
        </ng-container>
        <ng-container *ngSwitchCase="'required'">
          {{ 'global.input.field_required' | translate }}
        </ng-container>
        <ng-container *ngSwitchCase="'minlength'">
          {{ 'global.input.the_field' | translate }}
          {{ getChildValidationError(error.value, 'requiredLength') }}
          {{ 'global.input.now_length' | translate }}
          {{ getChildValidationError(error.value, 'actualLength') }}
        </ng-container>
        <ng-container *ngSwitchCase="'pattern'">
          <ng-container *ngIf="errorList; else notList">
            {{ errorList | translate }}
          </ng-container>
          <ng-template #notList>
            {{ 'global.input.wrong_password' | translate }}
          </ng-template>
        </ng-container>
      </ng-container>
    </span>
  </div>
</label>
