<footer class="footer">
  <div class="footer__container">
    <h2 class="footer__title">Upstart</h2>
    <div class="footer__company-info">
      <div class="footer__items">
        <a class="footer__link" routerLink="/">{{
          'global.footer.company-info.home' | translate
        }}</a>
        <a class="footer__link" routerLink="/about-us">{{
          'global.footer.company-info.about-us' | translate
        }}</a>
      </div>
      <div class="footer__items">
        <a class="footer__link" routerLink="/contact-us">{{
          'global.footer.company-info.contact-us' | translate
        }}</a>
        <a class="footer__link" routerLink="/privacy-policy">{{
          'global.footer.company-info.privacy-policy' | translate
        }}</a>
      </div>
    </div>
  </div>
  <div class="footer__subfooter">
    <hr class="divider" />
    <div class="footer__subfooter__container">
      <div class="footer__social-keeper">
        <a class="footer__social" href="https://facebook.com">
          <us-icon name="facebook"></us-icon>
        </a>
        <a class="footer__social" href="https://instagram.com">
          <us-icon name="instagram"></us-icon>
        </a>
        <a class="footer__social" href="https://twitter.com">
          <us-icon name="twitter"></us-icon>
        </a>
      </div>
      <span class="footer__copyright"> © 2022 upstart </span>
      <img src="assets/images/logos/brain-fors-logo.svg" alt="" />
    </div>
  </div>
</footer>
