<div class="container">
  <div class="row align-items-center h-100">
    <div class="col-12 col-lg-8 justify-content-start align-items-center d-flex">
      <div class="left_content d-none d-md-block">
        <p class="subtitle">
          {{ 'auth.login.dont_account' | translate }}
          <a class="purple" routerLink="/auth/registration">
            {{ 'auth.login.register_here' | translate }}</a
          >
        </p>
      </div>
    </div>
    <div class="col-12 col-lg-4">
      <div class="form_content">
        <p class="title">{{ 'auth.reset.title' | translate }}</p>
        <p class="subtitle">{{ 'auth.reset.res_text' | translate }}</p>
        <form [formGroup]="resetForm">
          <div class="mb-3">
            <div class="input-group">
              <input
                class="form-control w-100"
                formControlName="password"
                placeholder="{{ 'auth.reset.password' | translate }}"
                required
                type="{{ passwordFieldTextType ? 'text' : 'password' }}"
              />
              <img
                (click)="passwordToggleFieldTextType()"
                *ngIf="!passwordFieldTextType"
                class="close_eye"
                src="../../../../../assets/images/icons/close_eye.svg"
                alt=""
              />
              <img
                (click)="passwordToggleFieldTextType()"
                *ngIf="passwordFieldTextType"
                class="close_eye"
                src="../../../../../assets/images/icons/auth/show_eye.svg"
                alt=""
              />
              <div
                *ngIf="f['password'].errors?.['required'] && (f['password'].dirty || f['password'].touched)"
                class="errors_text"
              >
                <p>{{ 'auth.errors.pass' | translate }}</p>
              </div>
              <div *ngIf="f['password'].errors?.['pattern']" class="errors_text">
                <p>{{ 'auth.errors.pass_lenght' | translate }}</p>
              </div>
              <div *ngIf="f['password'].errors?.['custom']" class="errors_text">
                <p>{{ f['password'].errors?.['custom'] }}</p>
              </div>
            </div>
          </div>
          <div class="mb-3">
            <div class="input-group">
              <input
                class="form-control w-100"
                formControlName="confirm"
                placeholder="{{ 'auth.reset.confirm_password' | translate }}"
                required
                type="{{ confirmPasswordFieldTextType ? 'text' : 'password' }}"
              />
              <img
                (click)="confirmPasswordToggleFieldTextType()"
                *ngIf="!confirmPasswordFieldTextType"
                class="close_eye"
                src="../../../../../assets/images/icons/close_eye.svg"
                alt=""
              />
              <img
                (click)="confirmPasswordToggleFieldTextType()"
                *ngIf="confirmPasswordFieldTextType"
                class="close_eye"
                src="../../../../../assets/images/icons/auth/show_eye.svg"
                alt=""
              />
              <div
                *ngIf="f['confirm'].errors?.['required'] && (f['confirm'].dirty || f['confirm'].touched)"
                class="errors_text"
              >
                <p>{{ 'auth.errors.pass' | translate }}</p>
              </div>
              <div *ngIf="f['confirm'].errors?.['pattern']" class="errors_text">
                <p>{{ 'auth.errors.pass_lenght' | translate }}</p>
              </div>
              <div *ngIf="f['confirm'].errors?.['custom']" class="errors_text">
                <p>{{ f['password'].errors?.['custom'] }}</p>
              </div>
            </div>
          </div>
          <us-button
            (clicked)="resetPassword()"
            [disabled]="resetForm.invalid || loader"
            [loader]="loader"
            [ngClass]="{ disabled: resetForm.invalid || loader }"
            [theme]="buttonTheme.primary"
          >
            {{ 'auth.reset.reset' | translate }}
          </us-button>
        </form>
      </div>
    </div>
    <p class="subtitle_mobile d-block d-md-none">
      {{ 'auth.reset.dont_account' | translate }}
      <a class="purple" routerLink="/auth/registration">
        {{ 'auth.reset.sign_up' | translate }}
      </a>
    </p>
  </div>
</div>
