<div class="header-mobile-action-panel">
  <div class="header-mobile-action-panel__action header-mobile-action-panel__action_cart">
    <us-icon
      class="header-mobile-action-panel__action-icon"
      name="search"
      (click)="showSearch()"
    ></us-icon>
  </div>
  <div
    class="header-mobile-action-panel__action header-mobile-action-panel__action_notification"
    *ngIf="isLoggedIn"
  >
    <!-- <us-icon class="header-mobile-action-panel__action-icon" name="bell"></us-icon> -->
  </div>
</div>
