<header class="header" [class.header_scrolled]="isScrolled" *ngIf="!isMobile; else mobileHeader">
  <div class="header__container container">
    <div class="header__left">
      <a class="header__logo-keeper" routerLink="/">
        <img
          class="header__logo"
          src="./assets/images/logos/new-upstart-logo.svg"
          alt="Upstart Logo"
        />
      </a>
      <us-header-categories></us-header-categories>
      <us-header-search class="header__search"></us-header-search>
    </div>
    <div class="header__right">
      <us-header-action-panel
        (unreadCountEmit)="unreadCount($event)"
        [userInfo]="userInfo"
      ></us-header-action-panel>
    </div>
  </div>
</header>
<ng-template #mobileHeader>
  <header class="header header_mobile container" [class.header_scrolled]="isScrolled">
    <us-header-mobile-menu
      [isLoggedIn]="!!isLoggedIn"
      [notifications]="allNotifications"
      [userInfo]="userInfo"
      [showSearchMenu]="isShowSearch"
      (closedSearch)="closeSearch()"
    ></us-header-mobile-menu>
    <a class="header__logo-keeper" routerLink="/">
      <img
        class="header__logo"
        [class.header__logo_logged]="isLoggedIn"
        src="./assets/images/logos/upstart-logo-mobile.svg"
        alt="Upstart Logo"
      />
    </a>
    <us-header-mobile-action-panel
      [isLoggedIn]="isLoggedIn"
      (showSearchMenu)="showSearchMenu()"
    ></us-header-mobile-action-panel>
  </header>
</ng-template>
